{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% include 'includes/rest_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <h5 class="text-uppercase">Build your Restaurant Menu</h5>
                            <hr>
                            <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                            <br><br>
                            <h6>Add New Food Item</h6>
                            <br>
                                <form action="{% url 'add_fooditem' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="form-fields-set">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Category *</label>
                                                    {{food_form.category}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Food Item Name *</label>
                                                    {{food_form.food_name}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Description</label>
                                                    {{food_form.description}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Price *</label>
                                                    {{food_form.price}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Image *</label>
                                                    {{food_form.image}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="field-holder">
                                                    <label>Availabile? *</label>
                                                    {{food_form.is_available}}
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                       
                                    {% for field in food_form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <li style="color: red;">{{error}}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <br>

                                    <button type="submit" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i>Create</button>
                                </form>
								
                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'includes/alerts.html' %}

{% endblock %}

